.main {
  background-color: #f7f8fa;
  color: #8a9aa5 !important;
  flex: 1;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 40px 50px;
}

.main__stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mobile Responsivity */
@media (max-width: 800px) {
  .main {
    padding: 40px 15px;
  }
  .main__stats {
    flex-direction: column;
  }
}
